@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: yellow;

}
body{
    font-family: 'poppins', sans-serif !important;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 70px;
}
.btn-primary{
    box-shadow: none !important;
    padding: 8ox 25px;
    border-radius: 2px !important;
    border: 2px solid #3c366a !important;
    color:#3c366a !important;
    background: none !important ;
}
.btn-primary:hover{
    background: #3c366a !important;
    color: #fff !important;
    border: 2px solid #fff !important;
}
#life{
    padding: 40px 0;
    color: #3c366a;
}
.title::before{
    content: '';
    background: #3c366a;
    height:5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50px;
    transform: translateY(46px);

}
ul{
    list-style-type: none;
    font-weight: lighter;
}
ul li{
     padding: 3px;
     font-weight: 300;
     color: black;

}
